*, ::before, ::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF2CC;
    height: 900px;
}

h1
{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 120px;
    margin-top: 60px;
}

.paraConnexion
{
    text-align: center;
    font-size: 32px;
    margin-bottom: 90px;
}

label
{
    text-align: justify;
    font-size: 22px;
    margin-left: 450px;
    display: block;
    margin-bottom: 8px;
}

input
{
    text-align: justify;
    font-size: 20px;
    margin-left: 450px;
    display: block;
    margin-bottom: 50px;
    width: 450px;
    border-radius: 5px;
    padding-left: 15px;
}

input:hover
{
    border: 2px solid #5eb5e0;
}

.mdpOublie
{
    font-size: 18px;
    margin-left: 450px;
    margin-bottom: 15px;
}

.mdpOublie a:hover
{
    color: green;
    text-decoration: none;
}

.creerCmp
{
    font-size: 18px;
    margin-left: 450px;
    margin-bottom: 30px;
}

.creerCmp a:hover
{
    color: green;
    text-decoration: none;
}

button
{
    width: 250px;
    font-size: 20px;
    margin-left: 450px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 0px;
}


@media screen and (max-width : 1200px)
{
    h1{
        font-size: 35px;
        margin-top: 15px;
    }

    .paraConnexion
    {
        font-size: 27px;
    }

    input
    {
        width: 300px;
        font-size: 18px;
        margin-left: 280px;

    }

    label{
        margin-left: 280px;
        font-size: 18px;

    }

    .creerCmp
    {
        width: 500px;
        font-size: 18px;
        margin-left: 300px;
        margin-bottom: 50px;
        border-radius: 5px;
    }

    .mdpOublie
    {
        font-size: 18px;
        margin-left: 300px;
    }

    button
    {
        font-size: 18px;
        margin-left: 340px;
    }

}

@media screen and (max-width : 800px)
{
    h1{
        font-size: 30px;
        margin-top: 15px;
    }

    .paraConnexion
    {
        font-size: 22px;
    }

    input
    {
        width: 300px;
        font-size: 14px;
        margin-left: 190px;

    }

    label{
        margin-left: 190px;
        font-size: 14px;
    }

    .creerCmp
    {
        width: 400px;
        font-size: 14px;
        margin-left: 210px;
        margin-bottom: 50px;
        border-radius: 5px;
    }

    .mdpOublie
    {
        font-size: 14px;
        margin-left: 210px;
    }

    button
    {
        font-size: 14px;
        margin-left: 240px;
    }

}



